{% extends 'feed/index.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <!-- user card -->
    <section class="homeHero">
        <div class="card home-services homeHero-services" >
            <div class="card-body">
                <h5 class="card-title titulo"><strong>{{ user.username }}</strong></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item titulo">{{ user.first_name }}</li>
                <li class="list-group-item titulo">{{ user.last_name }}</li>
            </ul>
        </div>
        <div class="card home-services">
            <div class="card-body homeHero-services titulo">
                <p class="titulo">Servicios pendientes</p>
                <p class="card-title titulo">{{ unfinished_services }}</p>
            </div>
        </div>
        <div class="card home-services" >
            <div class="card-body homeHero-services titulo">
                <p class="titulo">Servicios Totales terminados</p>
                <h5 class="card-title titulo">{{ finished_services }}</h5>
            </div>   
        </div>
    </section>
    <!-- user service table -->
    <div class="titulo-servicios">
        {% if user.is_superuser %}
        <h1>Servicios de todos los usuarios</h1>
        {% else %}
        <h1>Servicios de {{user.username}}</h1>
        {% endif %}
        <a class="btn btn-primary boton-servicio" href="new_service" role="button">Nuevo servicio</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Usuario</th>
                <th scope="col">Status de servicio</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Cliente</th>
                <th scope="col">Creado</th>
                <th scope="col">Actualizado</th>
                <th scope="col"></th>
                </tr>
        </thead>
        <tbody>
            {% for service in all  %}
            <tr class="fila-servicios-home">
                <th scope="row">{{ forloop.counter }} </th>
                <td>{{ service.user }}</td>
                <td>{{ service.status }} </td>
                <td class="fila-servicios-home"><p class="tabla-servicios-home">{{ service.failure|truncatechars:25}}</p> </td>
                <td>{{ service.client }} </td>
                <td>{{ service.created|date }} </td>
                <td>{{ service.updated|date }} </td>
                <td><a class="enlace" href="update_service/{{service.id}}">Editar</a>&nbsp; &nbsp; <a class="enlace" href="service_detail/{{service.id}}">Detalles</a></td>
            </tr>
            {% endfor %}
            </tbody>
        <tr>

        </tr>
    </table> 
</div>
{% else %}
    <h1>Inicia Sesion</h1>
{% endif %}
{% endblock %}