{% extends 'feed/index.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <form class="row g-3">
        <div class="col-md-6">
            <div>
                <label for="inputEmail4" class="form-label">Permisos</label>
                <input type="text" class="form-control" id="inputEmail4" value="{{user.level_name}}" readonly>
            </div>
            <div>
                <label for="inputEmail4" class="form-label">Estado</label>
                <input type="text" class="form-control" id="inputEmail4" value="{{user.status_of_users_name}}" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <label for="inputEmail4" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputEmail4" value="{{user.name}}" readonly>
            </div>
            <div>
                <label for="inputEmail4" class="form-label">Correo</label>
                <input type="email" class="form-control" id="inputEmail4" value="{{user.email}}" readonly>
            </div>
        </div>
    </form>
<br><br><br>
{% if all_user_services %}
    <div class="container-fluid">
        <h1>Servicios</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No de servicio</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Status de servicio</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Cliente</th>
                    <th scope="col"></th>
                    </tr>
            </thead>
            <tbody>
                {% for service in all_user_services  %}
                <tr>
                    <th scope="row">{{ service.id }} </th>
                    <td>{{ service.user }} </td>
                    <td>{{ service.status }} </td>
                    <td>{{ service.failure }} </td>
                    <td>{{ service.client }} </td>
                    <td><a href="">Editar</a>&nbsp; &nbsp; <a href="">Detalles</a></td>
                </tr>
                {% endfor %}
                </tbody>
            <tr>

            </tr>
        </table>

    </div>
{% else %}
    <h1>El Tecnico no tiene servicios (que flojo)</h1>
{% endif %}

</div>
{% else %}
    <h1>Inicia Sesion</h1>
{% endif %}

{% endblock %}