
body {
    background-image: url('../static/feed/images/fingolfin3.jpg') ;
    background-size: cover;
    background-repeat: repeat;
}
.client_view-pack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.client_view-input {
    width: 300px;
    text-align: center;
    border-radius: 15px;
    color: #F8F8F8;
}

.client_view-button {
    width: 300px;
    border-radius: 15px;
}

.client_view-label {
    font-size: 24px;
    color: white;
    font-weight: bolder;
}

.client_view-field {
    text-align: center;
}