.new_service-main-pack {
   width: 40%;
}

.new_service-label-text {
    font-size: 18px;
    font-weight: bold;
    padding: 1px;
    margin: 1px;
}

.new_service-label-choice {
    margin: 1px;
    padding: 1px;
}